.section-detail {
    padding-top: 30px;
    padding-bottom: 30px;
    
    &__top {
        padding: 20px;
        border-radius: 10px;
        background: var(--section-detail-top-bg-color);
        box-shadow: 0px 20px 60px 10px var(--section-detail-top-shadow);

        &--active {
            background: var(--section-detail-top-active-bg-color);
        }
    }
    
    &__group {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        row-gap: 6px;
    }

    &__child {
        display: flex;
        align-items: center;
        column-gap: 8px;

        + .section-detail__child {
            margin-left: 20px;
        }

        &-text {
            font-weight: 500;
            line-height: 150%;
            color: #9E9DA8;

            &--active {
                color: inherit;
            }
        }
        
        &-arrow {
            width: 10px;
            height: 16px;
        }
    }
}